<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My email</title>
</head>
<body>
  <p style="color: red;">
    Some really boring stuff here.
    <%= @user.first_name %>, you're awesome!
  </p>
</body>
</html>
